.mainImageContainer {
    display: grid;
    place-items: center;
}

.mainContent {
    max-width: 800px;
    margin: 0 auto;
}

.mainContentDescription {
    text-align: justify;
    font-size: 18px;
    color: #444444;
}

.mainContentDescriptionSubHeading {
    font-size: 20px;
    color: #202124;
}

.actualCodeContainer p {
    margin: 1px;
}

.codeContainerParagraph span {
    margin: 1px;
    display: inline-block;
}

.green {
    color: #9fca56;
}
.purple {
    color: #a074c4;
}
.red {
    color: #cd3f45;
}
.blue {
    color: #55b5db;
}
.white {
    color: #fff;
}

.codeTag {
    background: #f7f7f7;
    border: 1px solid #dadce0;
    color: #202124;
    font: 1rem/1.5em SFMono-Regular,Consolas,"Liberation Mono",Menlo,monospace;
    hyphens: none;
    tab-size: 2;
    text-align: left;
    word-spacing: normal;
    margin: 0 .25em;
    padding: .125em .25em;
}

.preLanguage {
    margin: 32px 0;
    border-width: 1px;
    border-width: 1px 0;
    overflow: auto;
    padding: 16px;
    white-space: pre;
    border: 1px solid #dadce0;
    scrollbar-color: #80868b transparent;
    scrollbar-width: thin;
    
}

.language {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

.preLanguage , .language {
    background: #f7f7f7;
    color: #202124;
    font: 1rem/1.5em SFMono-Regular,Consolas,"Liberation Mono",Menlo,monospace;
    hyphens: none;
    tab-size: 2;
    text-align: left;
    word-spacing: normal;
}

@media (max-width: 480px) {
    .mainContent {
        padding: 24px;
    }
    .preLanguage {
        margin: 32px -32px;
    }
}